<template>
  <article class="upvote-mod">
    <UpVote
      v-for="item in voteList"
      :key="item.id"
      :total-votes="item.votes"
      :vote-selected="item.selected"
      @add-vote="requestAddVote(item.id)"
      @update-state="requestUpdateState(item.id)"
    />
  </article>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { mapState, mapActions } from 'vuex';

const UpVote = defineAsyncComponent(() => import('../components/UpVote.vue'));

export default {
  name: 'Home',

  components: {
    UpVote,
  },

  computed: {
    ...mapState([
      'voteList',
    ]),
  },

  methods: {
    ...mapActions([
      'requestAddVote',
      'requestUpdateState',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.upvote-mod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
</style>
