<template>
  <main class="home">
    <UpVoteMod />

    <div class="state">
      <pre class="pre">{{ voteList }}</pre>
    </div>
  </main>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { mapState } from 'vuex';

const UpVoteMod = defineAsyncComponent(() => import('../modules/UpVoteMod.vue'));

export default {
  name: 'Home',

  components: {
    UpVoteMod,
  },

  computed: {
    ...mapState([
      'voteList',
    ]),
  },
};
</script>

<style lang="scss">
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  @media all and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  .state {
    border-left: 5px solid #8f350e;
    background: rgb(66, 54, 54);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .pre {
    overflow-y: auto;
    color: #cadb2b;
    page-break-inside: avoid;
    font-family: monospace, 'serif';
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
    padding: 1em;
    display: block;
    word-wrap: break-word;
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
</style>
