<template>
  <section class="upvote">
    <div class="upvote__container">
      <Vote
        v-for="i in totalVotes"
        :key="i"
        :selected="voteSelected"
        @click="$emit('update-state')"
      />
    </div>

    <div class="upvote__add">
      <Add
        @click="$emit('add-vote')"
      />
    </div>
  </section>
</template>

<script>
import { defineAsyncComponent } from 'vue';

const Vote = defineAsyncComponent(() => import('./Vote.vue'));
const Add = defineAsyncComponent(() => import('./Add.vue'));

export default {
  name: 'UpVote',

  components: {
    Vote,
    Add,
  },

  props: {
    totalVotes: {
      type: Number,
      default: null,
    },
    voteSelected: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.upvote {
  display: grid;
  grid-template-columns: 10fr 2fr;
  align-items: center;
  gap: 20px;

  &__container {
    border: 2px solid rgb(219, 214, 214);
    border-radius: 20px;
    height: 90px;
    padding: 0 10px;
    overflow-x: scroll;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::-webkit-scrollbar {
      display: none;
    }

    &::v-deep {
      .vote {

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
